 <h1>Actor #<%= @the_actors.id %> details</h1>

<a href="/actors" class="btn btn-block btn-outline-secondary">
  Go back
</a>

&nbsp;|&nbsp;



<dl>
  <dt>Title</dt>
  <dd><%= @the_actors.name %></dd>

  <dt>Dob</dt>
  <dd><%= @the_actors.dob %></dd>

  <dt>Bio</dt>
  <dd><%= @the_actors.bio %></dd>

  <dt>Image</dt>
  <img src="http://robohash.org/<%= @the_actors.image %>">

  <dt>Created at</dt>
  <dd><%= time_ago_in_words(@the_actors.created_at) %> ago
  </dd>

  <dt> Updated at</dt>
  <dd><%= time_ago_in_words(@the_actors.updated_at) %> ago</dd>
</dl>

</dl>

<h2>Filmography</h2>

<table border= "1">
<% @filmography.each do | a_role | %>
   <tr>

 <td><%= a_role.id %></td>
  
 <td><%= a_role.title %></td>
    
 <td> <%= a_role.year %></td>
    
 <td><% d = Director.where({ :id => a_role.director_id }).at(0)%></td>
    
 <td><%= d.name %></td>
   
 <td><a href="/actors/<%= a_role.id %>">
    Show details 
    </a>
    </td>
   </tr>
<% end %>
</table>


   
