<h1>List of all directors</h1>

<table border="1" >
<% @list_of_directors.each do |a_movie| %>
<tr>
<td><%= a_movie.id %></td>
<td>
<img src="http://robohash.org/<%= a_movie.name %>">
</td>
<td><%= a_movie.name %></td>
<td><%= a_movie.dob %></td>
<td>
<a href="/directors/<%= a_movie.id %>">
  Show details
</a>
</td>
</tr>
<% end %>
</table>
