<h1>List of all movies</h1>


<table border="1" >
<% @the_role.each do |a_role| %>
<tr>
<td><%= a_role.id %></td>
<td>
<img src="http://robohash.org/<%= a_role.title %>">
</td>
<td><%= a_role.title %></td>
<td><%= a_role.year %></td>
<td>
<a href="/movies/<%= a_role.id %>">
  Show details

</a>
<% end %>
</td>
